/*очистка*/
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,/*em,*/font,img,ins,kbd,q,s,samp,small,strike,/*strong,*/sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
   vertical-align: baseline;
   font-family: Calibri;
   font-weight: inherit;
   font-style: inherit;
   font-size: 1em;
   outline: 0;
   padding: 0;
   margin: 0;
   border: 0;
}

:focus {
   outline: 0;
}

table {
   border-collapse: separate;
   border-spacing: 0;
}

caption,th,td {
   font-weight: normal;
   text-align: left;
}
/*очистка закончена*/

.etalon {display: none;}

table {
    border-collapse: collapse;
}

body {
    position:relative;
    margin:auto;
    width: 800px;
}

body>div {
    margin: 10px 10px;
}

#auth table {}
#auth table tr td:first-of-type {
    padding-right: 5px;
    padding-bottom:5px;
}
#auth table td[colspan="2"] {
    text-align: center;
}

#listing {
    width: 760px;
    position: relative;
}

#listing .dontClose {
    position:absolute;
    color:red;
    top:0;
    left:10px;
    left: 430px;
    font-size: 120%;
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
    visibility: hidden;
}

#listing .username {
    text-decoration: underline;
}

#listing .logout {
    display: inline-block;
    position:relative;
    width:20px;
    height: 20px;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url('img/logout.png');
    vertical-align: top;
    cursor: pointer;
}

#listing .options {
    position:absolute;
    right:0;
    top:0;
}

#listing .options .unauth{
    display:inline-block;
    width:32px;
    height:32px;
    cursor:pointer;
    background-image:url('img/unauth.png');
    background-repeat: no-repeat;
    background-position: top left;
}

#listing table {
    margin: 10px 0;
    display: inline-table;
    vertical-align: top;
    width: 373px;
    table-layout: fixed;
}

#listing table:first-of-type {
    margin-right:10px;
}

#listing table td {
    text-align: left;
    vertical-align: middle;
    padding-top: 2px;
    padding-right:2px;
    padding-bottom:2px;
    height:20px;
    border-bottom:1px solid #dedede;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding-left: 18px;
    background-position: center left;
    background-repeat: no-repeat;
    cursor: pointer;
}
#listing table tr td:last-child {padding-right: 0}
#listing table tr:last-child td {border-bottom:0}
#listing table tr:hover td {background-color: #e2e0ff;}
#listing table tr.active td {background-color: #bbb6ff;}
#listing table .vk {background-image: url('img/vk.png');}
#listing table .fb {background-image: url('img/fb.png');}
#listing table .inst {background-image: url('img/inst.png');}

pre {
    max-height: 215px;
    border-top: 1px solid #dedede;
    font-family: monospace;
    overflow: auto;
}